<div class="flex flex-col gap-4 bg-grey py-6 rounded-lg shadow-lg h-full">
  <div
    class="text-2xl font-semibold text-center"
    (click)="navigateToCategory()"
  >
    {{ card.title }}
  </div>
  <img [src]="card.img" (click)="navigateToCategory()" />
  <div
    *ngFor="let detail of card.subCategories"
    class="flex justify-between px-6"
    (click)="navigateToSubCategory(detail)"
  >
    <div class="font-medium">{{ detail.title }}:</div>
    <div class="font-semibold">от {{ detail.price }}&#8381;/м</div>
  </div>

</div>
