<div class="container normal-header block mx-auto content-center" style="max-width: 1320px; height: 80px">
  <div class="w-full h-full">
    <div class="flex flex-row w-full h-full">
      <div class="flex-auto content-center">
        <div class="text-4xl font-semibold">FRESH HOUSE</div>
      </div>
      <div class="flex-auto content-center"><app-catalog></app-catalog></div>
      <div class="flex-auto content-center">Поиск</div>
      <div class="flex-auto content-center">Вход</div>
      <div class="flex-auto content-center">Корзина
      </div>
    </div>
  </div>
</div>