<div class="mt-48 px-72 xl:px-20 md:px-10 lg:px-20 pb-10" *ngIf="category">

    <div class="flex gap-4 text-superGrey text-sm">
        <div (click)="goToHome()">Главная</div>
        <div (click)="navigateToCategory(translit(category!.title) || '')">→ {{ category!.title }}</div>
        <div *ngIf="subCategories.length"
            (click)="navigateToSubCategory(translit(category!.title) || '',translit(subCategories[0].title))">
            → {{subCategories[0].title}}</div>
    </div>

    <div *ngIf="!subCategories.length" class="text-4xl font-semibold my-8 text-orange">{{ category!.title }}</div>
    <div *ngIf="subCategories.length" class="text-4xl font-semibold my-8 text-orange">{{ subCategories[0].title}}</div>

    <div class="flex gap-10">
        <app-list-categories class="basis-1/4 p-4 pl-8 rounded-2xl shadow-lg h-full"></app-list-categories>
        <app-list-products class="w-full basis-3/4 rounded-2xl shadow-xl h-full"></app-list-products>
    </div>
</div>
