<div class="px-72 xl:px-20 md:px-10 lg:px-20 pt-16">
  <div class="shadow-lg rounded-lg flex flex-col gap-8 p-4">
  <div  class="text-4xl font-semibold text-center">Главное о компании</div>
  <div class="grid grid-cols-3 grid-rows-2 gap-4 h-screen ">
    <div class="relative bg-cover h-full col-span-2 rounded-lg" [ngStyle]="{'background-image': 'url(assets/about.jpg)'}">
      <div class="absolute p-4">
        <h1 class="text-2xl font-semibold text-white">Надежность поставок металлопроката</h1>
      </div>
    </div>
    <div class="rounded-lg bg-grey p-4 text-2xl font-semibold">cacaca</div>
    <div class="rounded-lg bg-grey p-4 text-2xl font-semibold">cacaca</div>
    <div class="relative bg-cover h-full col-span-2 rounded-lg" [ngStyle]="{'background-image': 'url(assets/about-2.jpg)'}">
      <div class="absolute p-4">
        <h1 class="text-2xl font-semibold text-white">Профессиональный партнер в поставках продукции для строительных оъектов
        любого маштаба, на любом этапе строительства и отделки
        </h1>
      </div>
    </div>

  </div>
  </div>
</div>

