.underline:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.underline {
  text-decoration:none;
}
.color-list {
  display: flex;
  flex-wrap: wrap;
}

.color-list span {
  display: inline-block;
  margin-right: 5px; /* Добавляет отступ между элементами */
}
