<div *ngIf="category" class="">
  <table class="table-auto min-w-full bg-backgr rounded-2xl">
    <thead>
    <tr class="border-b border-b-orangHover  text-superGrey p-4">
      <th class="text-left px-2 py-4 text-orange">Наименование</th>
      <th class="text-center px-2 py-4 text-orange tel:hidden">Склад</th>
      <th class="text-center px-2 py-4 text-orange tel:w-30">Наличие</th>
      <th class="text-center px-2 py-4 text-orange">Цена</th>
    </tr>
    </thead>
    <tbody *ngFor="let subCategory of subCategories">
    <tr *ngFor="let product of subCategory.products"
        class="border-t  border-orange">
      <th class="font-medium py-4 text-left px-4 tel:text-sm tel:px-0"
          (click)="navigateToSubCategory(subCategory, product)">
        <div
          class="underline font-sans text-black  hover:text-orangHover">{{ product.name }}
        </div>
        <ng-container *ngIf="isArmatura(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm whitespace-nowrap">Диаметр (D),
            мм: {{ product.diameter }}</p>
        </ng-container>
        <ng-container *ngIf="isSquare(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm whitespace-nowrap">Толщина (T),
            мм: {{ product.width }}</p>
        </ng-container>
        <ng-container *ngIf="isProfilePipe(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>

          <p class="text-sm">Высота (А), мм: {{ product.height }}</p>
          <p class="text-sm">Ширина (B), мм: {{ product.width }}</p>
          <p class="text-sm whitespace-nowrap">Толщина стенки (S),
            мм: {{ product.thickness }}</p>
        </ng-container>
        <ng-container *ngIf="isDobory(product)">
          <p class="text-sm whitespace-nowrap">Длина (L),
            мм: {{ product.length }}</p>
          <p class="text-sm whitespace-nowrap">Толщина (T),
            мм: {{ product.thickness }}</p>
          <div class="flex">
            <p class="text-sm">Цвет RAL: </p>
            <div class="text-sm"
                 *ngFor="let color of product.colors; let isLast = last">
              <div *ngIf="isLast">
                {{ color.color }}
              </div>
              <div *ngIf="!isLast">
                {{ color.color }},
              </div>

            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isProflist(product)">
          <p class="text-sm whitespace-nowrap">Ширина монтажная (w),
            мм: {{ product.widthM }}</p>
          <p class="text-sm whitespace-nowrap">Ширина габаритная,
            мм: {{ product.widthG }}</p>
          <p class="text-sm whitespace-nowrap">Толщина металла (S),
            мм: {{ product.thickness }}</p>
          <div class="flex">
            <p class="text-sm">Цвет RAL: </p>
            <div class="text-sm"
                 *ngFor="let color of product.colors; let isLast = last">
              <div *ngIf="isLast">
                {{ color.color }}
              </div>
              <div *ngIf="!isLast">
                {{ color.color }},
              </div>

            </div>
          </div>

        </ng-container>
        <ng-container *ngIf="isSamorezi(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm">Диаметр (D), мм: {{ product.thickness }}</p>
        </ng-container>
        <ng-container *ngIf="isWire(product)">
          <p class="text-sm">Масса (m), кг: {{ product.weight }}</p>
          <p class="text-sm">Диаметр (D), мм: {{ product.thickness }}</p>
        </ng-container>
        <ng-container *ngIf="isStripe(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm">Толщина (T), мм: {{ product.thickness }}</p>
          <p class="text-sm">Ширина (W), мм: {{ product.width }}</p>
        </ng-container>
        <ng-container *ngIf="isSetka(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm">Ячейка (S), мм: {{ product.size }}</p>
          <p class="text-sm">Ширина (W), мм: {{ product.width }}</p>
        </ng-container>
        <ng-container *ngIf="isTruba(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm">Диаметр (D), мм: {{ product.diameter }}</p>
          <p class="text-sm whitespace-nowrap">Толщина стенки (T),
            мм: {{ product.thickness }}</p>
        </ng-container>
        <ng-container *ngIf="isShveller(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm">Высота (H), см: {{ product.height }}</p>
        </ng-container>
        <ng-container *ngIf="isBalka(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm">Высота (H), см: {{ product.number }}</p>
        </ng-container>
        <ng-container *ngIf="isUgolok(product)">
          <p class="text-sm">Длина (L), мм: {{ product.length }}</p>
          <p class="text-sm">Ширина (W), мм: {{ product.width }}</p>
          <p class="text-smwhitespace-nowrap">Толщина (T),
            мм: {{ product.thickness }}</p>
        </ng-container>
        <ng-container *ngIf="isList(product)">
          <p class="text-sm whitespace-nowrap">Длина (L),
            мм: {{ product.length }}</p>
          <p class="text-sm whitespace-nowrap">Ширина (W),
            мм: {{ product.width }}</p>
          <p class="text-sm whitespace-nowrap">Толщина (T),
            мм: {{ product.thickness }}</p>
        </ng-container>
      </th>
      <th class="font-medium py-4 text-center px-2 tel:hidden">г. Самара</th>
      <th class="font-medium py-4 text-center px-2">
        <div class="flex gap-2 items-center justify-center">
          <img src="assets/check.svg" class="h-4"/>
          <div class="tel:text-sm whitespace-nowrap">В наличии</div>
        </div>
      </th>
      <th *ngIf="!(checkSamorezi(product) || checkDobory(product))"
          class="font-medium py-4 text-center px-2
        tel:text-sm">
        <div class="flex gap-1 items-end justify-center">
          <div class=" tel:text-sm">{{ product.price }}&#8381;</div>
          <div *ngIf="isProflist(product) || isSetka(product)"
               class=" tel:text-sm whitespace-nowrap">/м2
          </div>
          <div
            *ngIf="isBalka(product) || isShveller(product)|| isStripe(product)|| isSquare(product) || isArmatura(product) || isTruba(product) || isUgolok(product)  || isProfilePipe(product)"
            class=" tel:text-sm whitespace-nowrap">/м
          </div>
          <div
            *ngIf="isDobory(product) || isSamorezi(product) || isList(product) "
            class=" tel:text-sm whitespace-nowrap">/шт
          </div>
          <div
            *ngIf="isWire(product) "
            class=" tel:text-sm whitespace-nowrap">/кг
          </div>
        </div>
      </th>

    </tr>
    </tbody>
  </table>
</div>
