<div class="px-8 z-50 tel:px-0">
  <div class="flex items-center gap-8 tel:justify-between tel:gap-0">
    <div class="flex gap-2 items-center cursor-pointer hover:bg-greyHover p-2 rounded-md" (click)="CopyNumber()">
      <img class="h-5" src="assets/phone.svg"/>
      <div class="text-black text-xl tel:text-base">
        +79277369925
      </div>
    </div>

    <div class="flex gap-2 items-center cursor-pointer  hover:bg-greyHover p-2 rounded-md" (click)="CopyMail()">
      <img class="h-5" src="assets/email.svg"/>
      <div class="text-black text-xl tel:text-base">
        mercuriy63&#64;bk.ru
      </div>
    </div>
  </div>
</div>
