<div class="text-5xl text-center text-orange font-sans mt-48">Поставщики</div>
<div class="card px-72 md:px-10 lg:px-20 xl:px-20 p-6 mb-44 " id="about">
    <p-carousel
        [value]="suppliers"
        [numVisible]="3"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions">
            <ng-template let-supplier pTemplate="item" >
              <div>
                <img src="{{supplier.image}}" class="h-52 mx-auto">
              </div>
            </ng-template>
    </p-carousel>
</div>

